* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
}
body {
  background-color: #000;
  height: 100vh;
  overflow: hidden;
}
.visible {
  display: block;
}
.invisible {
  display: none;
}
.start_btn_container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.start_btn_container .start_game_btn {
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  outline: none;
  background-color: aqua;
}
.canvas_container {
  border: 1px solid rgba(255, 255, 255, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.arrow_btns_container {
  position: fixed;
  left: 50%;
  bottom: 40px;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.top {
  align-self: center;
}
.arrow_btn {
  padding: 10px;
  border: none;
  font-size: 24px;
  background: none;
  outline: none;
  border-radius: 12px;
  transition: all 0.25s linear;
}
.arrow_btn:focus {
  border: 1px solid aqua;
}
