* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
}
body {
  background-color: #000;
  height: 100vh;
  color: #fff;
  overflow: hidden;
}
.game_info_container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.start_btn_container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.start_btn_container .start_game_btn {
  position: relative;
  z-index: 10;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  outline: none;
  background-color: transparent;
  border: 1px solid aqua;
  transition: all 0.25s ease;
}
.start_btn_container .start_game_btn strong {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}
.start_btn_container .start_game_btn strong span {
  color: aqua;
}
.start_btn_container .start_game_btn:is(:focus, :hover) {
  background-color: aqua;
}
.start_btn_container .start_game_btn:is(:focus, :hover) > strong span {
  color: #fff;
}
.container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.container .canvas_container {
  border: 1px solid rgba(255, 255, 255, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow_btns_container {
  position: fixed;
  left: 50%;
  bottom: 40px;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.top {
  align-self: center;
}
.arrow_btn {
  padding: 10px;
  border: none;
  font-size: 24px;
  background: none;
  outline: none;
  border-radius: 12px;
  transition: all 0.25s linear;
}
.arrow_btn:focus {
  border: 1px solid aqua;
}
.visible {
  display: block;
}
.invisible {
  display: none;
}
.game_over_alert {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  height: 100px;
  background-image: url("https://images.unsplash.com/photo-1621284468753-fdb93b611dc5?q=80&w=1032&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border: 2px solid #000;
  border-top-color: aqua;
  border-left-color: aqua;
  border-bottom-color: aqua;
  border-radius: 8px;
}
.game_over_alert .game_over_content {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
}
.game_over_alert .game_over_content strong {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
}
.game_over_alert .game_over_content .close_btn {
  border: none;
  outline: none;
  background-color: transparent;
  position: absolute;
  top: 0;
  right: 0;
  background: #000;
  padding: 10px 15px;
  border-bottom-left-radius: 20px;
}
.game_over_alert .game_over_content .close_btn i {
  color: #fff;
}
